{% extends "base.html" %}
{% block title %}Landing Page{% endblock %}
{% block content %}
    <div style="width: 100%; overflow: hidden;">
            <div style="width: 280px; float: left;">
                <button type="button" 
                        class="btn btn-primary" 
                        data-bs-toggle="modal" 
                        data-bs-target="#formModal"
                        style="width: 100%;"
                    >
                    New Project
                  </button><br>
                <div style="color: white; background-color: black; width: 100%;">Deployed</div>
               {% for f in form_deployed %}
                <div 
                    class="projects_name{% if forloop.counter0|divisibleby:2 %} projects_name_y{% else %} projects_name_n{% endif %}"
                    >
                    <form action="/formpage/{{ f.pk }}" style="float: left; padding-right: 4px;">
                        <button type="submit" class="">{{ f.form_name }}</button>
                    </form>                    
                </div>
               {% endfor %}
               <div style="color: white; background-color: black; width: 100%;">Draft</div>
               {% for f in form_draft %}
               <div 
               class="projects_name{% if forloop.counter0|divisibleby:2 %} projects_name_y{% else %} projects_name_n{% endif %}"
               >
               <form action="/formpage/{{ f.pk }}" style="float: left; padding-right: 4px;">
                   <button type="submit" class="">{{ f.form_name }}</button>
               </form>    
               </div>
               {% endfor %}
               <div style="color: white; background-color: black; width: 100%;">Arquived</div>
               {% for f in form_arquived %}
               <div 
               class="projects_name{% if forloop.counter0|divisibleby:2 %} projects_name_y{% else %} projects_name_n{% endif %}"
               >
               <form action="/formpage/{{ f.pk }}" style="float: left; padding-right: 4px;">
                   <button type="submit" class="">{{ f.form_name }}</button>
               </form>    
               </div>
               {% endfor %}
            </div>
            <div style="margin-left: 300px;">
               {% if form_id %} 
               <h3>{{ form_id.form_name }}</h3>
               <fieldset style="border: 1px solid white; padding: 20px; background-color: #BFC9CA;">
                <legend>New Field:</legend>
               <form action="/newfield/submitnewfield/" method="post" style="width: 100%;">
                {% csrf_token %}
               <table style="width: 100%;">
                 <tr>
                   <td>
                       Name:
                   </td>
                   <td>
                       <input type="text" class="form-control" name="field_name" id="form_name" placeholder="Enter Field Name" style="width: 260px">
                   </td>
                   <td>
                       Label:
                   </td>
                   <td>
                       <input type="text" class="form-control" name="field_label" id="field_label" placeholder="Enter Lavel" style="width: 260px">
                   </td>
                   <td>
                       Type:
                   </td>
                   <td>
                       <select class="form-control" name="field_type" id="qtype" style="width: 260px">
                           <option>String</option>
                           <option>Integer</option>
                           <option>Select</option>
                       </select>
                   </td>
               </tr>
               <tr>
                   <td>
                       Length:
                   </td>
                   <td>
                       <input type="number" class="form-control" name="field_size" id="field_size" placeholder="Enter Length" style="width: 260px">
                   </td>
                   <td>
                    Description:
                   </td>
                   <td>
                    <input type="text" class="form-control" name="field_description" id="field_description" placeholder="Enter Description" style="width: 260px">
                   </td>
                   <td colspan="2">     
                    <input type="hidden" name="form_url" value="{{ request.path }}"/>                  
                    <button type="submit" class="">Add</button>                       
                   </td>
                 </tr>
                 <tr>
                 <!--<td colspan="6"><hr style="width: 100%;"/></td>-->
                 </tr>
               </table>
               </form>
               </fieldset>
               <br>
               {% for field in fields %}
               <div style="width: 100%; background-color: white; padding-bottom: 10px; margin-bottom: 10px;">
                    Label: {{ field.field_label }} Name: {{ field.field_name }}
               </div> 
               {% endfor %}
               {% else %} No Form Selected {% endif %}
            </div>
    </div>
  <!-- New Form Modal -->
  <div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="NewProjectModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="NewProjectModalLabel">New Project</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="/createnewform/" method="post">
                {% csrf_token %}
                {{ project_form }}
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>          
        </div>
      </div>
    </div>
  </div>
{% endblock %}