{% extends "base.html" %}
{% block title %}Landing Page{% endblock %}
{% block content %}
    <div style="width: 100%; overflow: hidden;">
            <div style="width: 280px; float: left;">
                <div style="color: white; background-color: black; width: 100%;">Deployed</div>
               {% for f in form_deployed %}
                <div 
                    class="projects_name{% if forloop.counter0|divisibleby:2 %} projects_name_y{% else %} projects_name_n{% endif %}"
                    >
                    <form action="/formpage/{{ f.pk }}" style="float: left; padding-right: 4px;">
                        <button type="submit" class="">{{ f.form_name }}</button>
                    </form>                    
                </div>
               {% endfor %}
               <div style="color: white; background-color: black; width: 100%;">Draft</div>
               {% for f in form_draft %}
               <div 
               class="projects_name{% if forloop.counter0|divisibleby:2 %} projects_name_y{% else %} projects_name_n{% endif %}"
               >
               <form action="/formpage/{{ f.pk }}" style="float: left; padding-right: 4px;">
                   <button type="submit" class="">{{ f.form_name }}</button>
               </form>    
               </div>
               {% endfor %}
               <div style="color: white; background-color: black; width: 100%;">Arquived</div>
               {% for f in form_arquived %}
               <div 
               class="projects_name{% if forloop.counter0|divisibleby:2 %} projects_name_y{% else %} projects_name_n{% endif %}"
               >
               <form action="/formpage/{{ f.pk }}" style="float: left; padding-right: 4px;">
                   <button type="submit" class="">{{ f.form_name }}</button>
               </form>    
               </div>
               {% endfor %}
            </div>
            <div style="margin-left: 300px;">
               {% if form_id %} {{ form_id.form_name }} {% else %} No Form Selected {% endif %}
            </div>
    </div>

{% endblock %}