{% extends "base.html" %}
{% block title %}Landing Page{% endblock %}
{% block content %}
    <div style="width: 100%; overflow: hidden;">
            <div style="width: 280px; float: left;">
                <div style="color: white; background-color: black; width: 100%;">Deployed</div>
               {% for f in form_deployed %}
                <div 
                    class="projects_name{% if forloop.counter0|divisibleby:2 %} projects_name_y{% else %} projects_name_n{% endif %}"
                    >
                    <form action="/formpage/{{ f.pk }}" style="float: left; padding-right: 4px;">
                        <button type="submit" class="">{{ f.form_name }}</button>
                    </form>                    
                </div>
               {% endfor %}
               <div style="color: white; background-color: black; width: 100%;">Draft</div>
               {% for f in form_draft %}
               <div 
               class="projects_name{% if forloop.counter0|divisibleby:2 %} projects_name_y{% else %} projects_name_n{% endif %}"
               >
               <form action="/formpage/{{ f.pk }}" style="float: left; padding-right: 4px;">
                   <button type="submit" class="">{{ f.form_name }}</button>
               </form>    
               </div>
               {% endfor %}
               <div style="color: white; background-color: black; width: 100%;">Arquived</div>
               {% for f in form_arquived %}
               <div 
               class="projects_name{% if forloop.counter0|divisibleby:2 %} projects_name_y{% else %} projects_name_n{% endif %}"
               >
               <form action="/formpage/{{ f.pk }}" style="float: left; padding-right: 4px;">
                   <button type="submit" class="">{{ f.form_name }}</button>
               </form>    
               </div>
               {% endfor %}
            </div>
            <div style="margin-left: 300px;">
               {% if form_id %} 
               <h3>{{ form_id.form_name }}</h3>
               <form action="/formpage/submitnewfield" style="width: 100%;"></form>
               <table style="width: 100%;">
                 <tr>
                   <td>
                       Name:
                   </td>
                   <td>
                       <input type="name" class="form-control" name="field_name" id="name" placeholder="Enter name" style="width: 260px">
                   </td>
                   <td>
                       Label:
                   </td>
                   <td>
                       <input type="name" class="form-control" name="field_label" id="name" placeholder="Enter name" style="width: 260px">
                   </td>
                   <td>
                       Type:
                   </td>
                   <td>
                       <select class="form-control" name="field_type" id="qtype" style="width: 260px">
                           <option>String</option>
                           <option>Integer</option>
                       </select>
                   </td>
               </tr>
               <tr>
                   <td>
                       Type:
                   </td>
                   <td>
                       <select class="form-control" id="qtype" style="width: 260px">
                           <option>Type</option>
                           <option>Select</option>
                       </select>
                   </td>
                   <td>
                       Length:
                   </td>
                   <td>
                       <input type="name" class="form-control" id="name" placeholder="Enter name" style="width: 260px">
                   </td>
                   <td colspan="2">                       
                    <button type="submit" class="">Add</button>                       
                   </td>
                 </tr>
                 <tr>
                 <td colspan="6"><hr style="width: 100%;"/></td>
                 </tr>
               </table>
               </form>
               {% else %} No Form Selected {% endif %}
            </div>
    </div>

{% endblock %}